.recentAnimeName {
  background-color: #242424;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 3em;
  font-size: 15px;
}

.recentAnimeImg {
  width: 100%;
  height: 0;
  padding-top: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.recentAnimeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
