.footerWrapper {
    background: #162032;
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0px 0px 15px 0px rgba(255, 105, 180, 0.3);
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 2%;
  }

.footerWrapper:hover {
    box-shadow: 0px 0px 15px 0px rgba(255, 105, 180, 0.5);
}

.octicon {
    position: relative;
    top: 4px; /* Adjust to position the logo as per your preference */
}
